/** @format */

.footer {
	display: flex;
	height: 10vh;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(148, 165, 197);
}
.text {
	color: rgb(66, 66, 66);
	line-height: 20px;
	font-weight: 400;
	text-align: left;
	font-family: Nunito, sans-serif;
	margin: 0px;
	display: inline-block;
}
