/** @format */

.form {
	background-image: linear-gradient(
			rgba(10, 1, 1, 0.541),
			rgba(10, 1, 1, 0.541)
		),
		url('../Assets/images/shubham-dhage-_rZnChsIFuQ-unsplash.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: fill;
	min-height: 60vh;
	width: 100%;
	min-height: 80vh;
}
.formContainer {
	width: 40%;
	margin: auto;
	box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
}
input {
	width: 100%;
	box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
	padding: 10px 10px;
	outline: none;
	background-color: #fff;
}
textarea {
	width: 100%;
	box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
	padding: 10px 10px;
	outline: none;
}
.spanForm {
	color: rgb(221, 128, 6);
}
