/** @format */

h1 {
	font-family: 'Libre Baskerville', serif;
	color: rgb(66, 66, 66);
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	text-align: left;
	margin: 40px 0px 0px;
	position: relative;
	z-index: 4;
	display: inline-block;
}
p {
	color: rgb(148, 165, 197);
	line-height: 20px;
	font-weight: 400;
	text-align: left;
	font-family: Nunito, sans-serif;
	margin: 20px 0px 0px;
	display: block;
	font: 14px;
}
span {
	color: rgb(148, 165, 197);
	font-size: 13px;
	line-height: 19px;
	font-weight: 400;
	text-align: left;
	font-family: Nunito, sans-serif;
	margin: 10px 0px 0px;
	display: inline-block;
}
